body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightskyblue;
}
.container {
    display: flex;
    flex-direction: row;
    background-color: lightskyblue;
}
div {
    display: flex;
    flex-flow: row wrap;
    margin: .1em;
}
#readStory  {
    border: black .01em solid;
    margin: 1em;
    width: 100%;
    padding: 1em;
}
#archiveStory  {
    border: black .01em solid;
    margin: .5em;
    width: 90%;
    padding: 1em;
}
#headerGroup {
    position: sticky; top: .01px;
    width: 100%;
}
.header h1 {
    font-size: 150%;
    font-weight: 700;
}
.header {
    width: 100%;
    background-color: lightskyblue;
    padding: .01em 1em;
    color: rgba(255, 247, 0, 0.817);
}
.publicNavBar {
    width: 100%;
    background-color: lightskyblue;
    padding: .01em 1em;
    margin: 0;
}
.writerNavBar {
    width: 100%;  
    background-color: lightskyblue;
    padding: .01em 1em;
    margin: 0;
}
#welcome {
    width: 100%;
    padding: 0 0 0 1em;
}
section {
    width: 45%;
    margin: .1em;
    padding: 1em;
}
form {
    background-color: #dbd5d5;
    width: 80%;
    height: 90%;
    margin: 2em auto;
    padding: .01em 1em;
    border-radius: 2px;
}
button, #regButton, #loginButton, #publishButton {
    background-color:  rgba(255, 247, 0, 0.500);;
    font-size: .60em;
    border-radius: 10px;
    box-shadow: .2em .2em grey;
}
h5 {
    margin: 8%
}
input {
    margin: 1em;
    margin-bottom: 1em;
}
input[type="submit"] {
    margin: 1em;
}
.message {
    padding: 1em 0;
}
.message p {
    margin-left: 1em;
}
.message:nth-child(odd) {
     background-color: #eeeeee;
}
.message:nth-child(even) {
    background-color: #f8f8f8;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: .5em .8em;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
    color: rgba(255, 247, 0, 0.817);;
}
li a:active {
    color: rgba(255, 247, 0, 0.817);
}
button {
    margin: .5em;
}
#storyTextArea {
    width: 80%;
    height: 10em;
    margin: .1em 5em 1em .5em;
    padding: .01em 1em;
    border-radius: 2px;
}
textarea {
    width: 100%;
    height: 100%;
    padding: 1em;
}