body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.instructions h1 {
    font-size: 150%;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: .01em 1em;
    color: #ece7e7;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 18em;
    margin: 2em auto;
    padding: .01em 1em;
    border-radius: 2px;
}

.reg {
    height: 16em;
}

h5 {
    margin: 8%
}

input {
    margin: 1em;
    margin-bottom: 1em;
}

input[type="submit"] {
    margin: 1em;
}

.message {
    padding: 1em 0;
}

.message p {
    margin-left: 1em;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: .5em .8em;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
