body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
    display: flex;
    flex-flow: row wrap;
    margin: .1em;
}
#headerGroup {
    position: sticky; top: .01px;
}
.header h1 {
    font-size: 150%;
    font-weight: 700;
}
.header {
    width: 100%;
    background-color: #00acb0;
    padding: .01em 1em;
    color: #ece7e7;
}
.publicNavBar {
    width: 100%;
    background-color: #00acb0;
    padding: .01em 1em;
}
.writerNavBar {
    width: 100%;  
    background-color: #00acb0;
    padding: .01em 1em;
}
section {
    display: flex;
    flex-flow: column wrap;
    border: black 1px solid;
    margin: .1em;
}
form {
    background-color: #dbd5d5;
    width: 80%;
    height: 90%;
    margin: 2em auto;
    padding: .01em 1em;
    border-radius: 2px;
}
#regButton {
    background-color:  #00acb0;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: .2em .2em grey;
}
h5 {
    margin: 8%
}
input {
    margin: 1em;
    margin-bottom: 1em;
}
input[type="submit"] {
    margin: 1em;
}
.message {
    padding: 1em 0;
}
.message p {
    margin-left: 1em;
}
.message:nth-child(odd) {
     background-color: #eeeeee;
}
.message:nth-child(even) {
    background-color: #f8f8f8;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: .5em .8em;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
button {
    margin: .5em;
}
#storyTextArea {
    width: 80%;
    height: 10em;
    margin: 1.5em .5em;
    padding: .01em 1em;
    border-radius: 2px;
}
textarea {
    width: 100%;
    height: 100%;
    padding: 1em;
}